$blue-black: #003F74;
$blue-500: #00559D;
$blue-400: #0086D4;
$blue-300: #00A7F7;
$blue-200: #7DD3FC;
$blue-100: #B1E5FD;
$blue-000: #E0F5FF;

$green-black: #033F24;
$green-500: #025932;
$green-400: #01834B;
$green-300: #00AD63;
$green-200: #4CC27D;
$green-100: #92D6AE;
$green-000: #C5E3D2;

$orange-black: #7B2B00;
$orange-500:#B64000;
$orange-400:#DC6300;
$orange-300:#F77C00;
$orange-200:#FF9901;
$orange-100:#FFCD7A;
$orange-000: #FFF3DF;

$red-black: #3E0300;
$red-500: #B2130C;
$red-400: #D52C28;
$red-300: #F7402D;
$red-200: #E77271;
$red-100: #F19999;
$red-000: #FFEBEE;

$grey-black: #222;
$grey-500: #333131;
$grey-400: #595757; 
$grey-300: #7E7D7C;
$grey-200: #A4A3A2;
$grey-100: #C9C9C7;
$grey-000: #EFEFED;

body {
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  background: #333;
  margin:0px;
  padding:0px;
  overflow-x:hidden;

}

body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
}

::-moz-selection { background:#fc0; }
::selection { background: #fc0; }

.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; }

.main-container{
  height: 100vh;
  width: 100%;
  .col{
    height: 100vh;
    vertical-align: bottom;
  }
}
.info-container{
  padding: 60px;
  position: relative;

  h1{
    text-align: left;
    font-weight: 500;
    //font-style: italic;
    font-size: 60px;
    font-family: 'paralucent';
    letter-spacing: 0.0px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    //text-transform: uppercase;
  }
  h2{
    text-align: left;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: paralucent;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 0;
    a{
      color: #F7402D;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s;
      &:hover{
       color: #D43121;
      }
    }
  }
}

